/* ======= Estilo base do container ======= */
.image-slider {
  position: relative;
  width: 180%;
  height: 260px; 
  overflow: hidden;
  border-radius: 20px; 
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}


.image-slider img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover; 
  border-radius: 20px;
  transition: transform 0.6s ease, filter 0.6s ease;
}


.image-slider:hover img {
  transform: scale(1.05);
  filter: brightness(1.1);
}


@media (max-width: 768px) {
  .image-slider {
    height: 250px; /* Ajusta altura para telas menores */
  }
}
