@font-face {
    font-family: 'galter';
    src: url('../../public/fonts/Galter.ttf')
}

.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 100%; 
    box-sizing: border-box;
    background-color: #2B032D;
    overflow-x: hidden;
    font-size: clamp(0.9rem, 1.8vw, 1rem);



}

nav {
    position: fixed;
    top: 10px;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 1000;
    padding: 5px;
    height: 48px;
    background-color: rgba(0, 0, 0, 0.253);

    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    backdrop-filter: blur(10px);
    box-sizing: border-box;
}

nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 2px;
    gap: 30px;
}

nav a {
    position: relative;
    text-decoration: none;
    color: #B6A7B5;
    font-family: 'galter';
    letter-spacing: 2px;
    font-size: 16px;
    transition: color 0.3s ease;
}


nav a::after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 50%;
    transform: translateX(-50%);
    width: 0%;
    height: 2px;
    background: linear-gradient(90deg, #b78be0, #f7c8ff);
    border-radius: 2px;
    transition: width 0.4s ease;
}


nav a:hover {
    color: #ffffff;
    text-shadow: 0 0 6px #b78be0;
}

nav a:hover::after {
    width: 100%;
}




.hero {
  min-height: 95vh;
  width: 100%;
  background: 
    linear-gradient(rgba(32, 0, 40, 0.85), rgba(32, 0, 40, 0.85)),
    url("/img/banner.png") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.hero-overlay {
  position: absolute;
  inset: 0;
  background: radial-gradient(circle at center, transparent 0%, #2b0135 75%);
  overflow: hidden;
}

.herotxt {
  text-align: center;
  z-index: 2;
}

.hero-content h1 {
  font-size: 6rem;
  letter-spacing: 6px;
  color: #e6d6ff;
  text-shadow:
    0 0 20px rgba(180, 0, 255, 0.4),
    0 0 40px rgba(90, 0, 120, 0.4);
}

.hero-content p {
  margin-top: 18px;
  font-size: 1.2rem;
  letter-spacing: 3px;
  color: #cdb3df;
}

.hero-buttons {
  display: flex;
  gap: 20px;
  margin-bottom: 15%;
  justify-content: center;
  flex-wrap: wrap;
}







.wave-banner {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    top: 67%;
    height: auto;
    z-index: 1;
}

.herotxt h1 {
    font-size: 10rem;
    letter-spacing: 2px;
    font-weight: 300;
    
    margin-bottom: 0;
    text-shadow: 0 0 15px rgba(180, 0, 255, 0.4), 0 0 30px rgba(80, 0, 120, 0.4);
}

.herotxt p {
    text-align: center;
    font-size: 1.5rem;
    letter-spacing: 2px;
    font-weight: 300;
    text-shadow: -1px 0px 5px #000000;
    margin-top: 0;
}


.shiny-text {

    background: linear-gradient(120deg,
            rgba(255, 255, 255, 0) 40%,
            rgba(68, 4, 77, 0.8) 50%,
            rgba(255, 255, 255, 0) 60%);
    background-size: 200% 100%;
    -webkit-background-clip: text;
    background-clip: text;
    display: inline-block;
    animation: shine 5s linear infinite;
}

@keyframes shine {
    0% {
        background-position: 100%;
    }

    100% {
        background-position: -100%;
    }
}

.shiny-text.disabled {
    animation: none;
}


.card-services {
    width: 100%;
    max-width: 365px;
    height: 465px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #b6a7b5;
    border: 4px solid #7c0185;
    border-radius: 10px;
    background-color: #15001763;
    backdrop-filter: blur(10px);
    margin-bottom: 5%;
    padding-top: 0;
    transition: 0.4s ease;
}

.card-services:hover {
    transform: translateY(-10px);
    border-color: #c400d8;
    box-shadow: 0 0 25px #7c0185bb, inset 0 0 20px #7c018566;
}

.services {
    display: flex;
    gap: 10%;
}

.card-services h1 {
    font-size: 2rem;
    letter-spacing: 2px;
    font-weight: 300;
    text-shadow: -1px 0px 5px #000000;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 50%;

}

.title {
    font-size: 3rem;
    letter-spacing: 2px;
    font-weight: 300;
    margin-bottom: 0;


}



.services-section {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    color: #b6a7b5;
}

.title-card {
    margin-right: 50%;
}

.services-img {
    width: 325px;
    border-radius: 10px;
    padding-top: 5px;
    margin: 0;
    margin-top: 0;
}

.card-services p {
    font-size: 1.0rem;
    letter-spacing: 1px;
    font-weight: 300;
    text-shadow: -1px 0px 5px #000000;
    text-align: left;
    margin: 5px;
    margin-left: 20px;
}


.saiba-mais {
    position: absolute;
    bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #b6a7b5;
    font-family: 'galter';
    letter-spacing: 2px;
    cursor: pointer;
    transition: color 0.3s ease;
}

.saiba-mais p {
    margin: 0;
}

.saiba-mais:hover {
    color: #ffffff;
}

.setas svg {
    stroke: #b6a7b5;

}

.saiba-mais:hover .setas svg {
    stroke: #ffffff;
}



.about {
    position: relative;
    width: 80%;
    max-width: 1280px;
    height: auto;
    margin: 2%;
    margin-top: 5px;
    text-align: center;
    font-family: 'galter';
    letter-spacing: 2px;
    color: #B6A7B5;
    padding: 5px;
}

/* Linha invisível inicialmente (começa do centro) */
.about::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 100%;
    height: 5px;
    background-color: #c400d8;
    transform: translateX(-50%) scaleX(0);
    transform-origin: center; /* começa do meio */
    transition: transform 0.6s ease-out;
}

/* Quando estiver visível */
.about.show::after {
    transform: translateX(-50%) scaleX(1);
}



.about-content {
    display: flex;
    gap: 10%;
    margin: 2%;
    text-align: center;
}

.about h1 {
    font-size: 3em;
    font-weight: 300;
}


.about-img {
    width: 460px;
    height: 460px;
    object-fit: cover;
    border-radius: 10px;
    transition: all 0.5s ease;
}

.about-img:hover {
    border-color: #c400d8;
    box-shadow: 0 0 25px #7c0185bb, inset 0 0 20px #7c018566;
}



.about-content p {
    margin-top: 10%;
    font-size: 1.3rem;
}


.divider {
    width: 100%;
    height: 10%;
    margin: 0;
}

.valorizamos {
    border: 4px solid #7c0185;
    border-radius: 10px;
    background-color: #15001763;
    width: 98%;
    text-align: center;
    margin-left: 1%;
    font-family: 'galter';
    letter-spacing: 2px;
    color: #B6A7B5;
    transition: all 0.5s ease;
    padding: 20px;
    box-sizing: border-box;
}

.valorizamos:hover {
    border-color: #c400d8;
    border-color: #c400d8;
    box-shadow: 0 0 25px #7c0185bb, inset 0 0 20px #7c018566;
}

.conteudo {
    display: flex;
    gap: 15%;

    text-align: left;
    justify-content: center;
    align-items: center;

}



.valorizamos h1 {
    font-weight: 300;
    font-size: 3.5rem;
    margin-bottom: 0;
}


.conteudo .anm-img {
    width: 20%;
    margin-right: 10%;
    margin-bottom: 5%;
    margin-top: 0;
    opacity: 0;

}


.conteudo p {
    margin-left: 20px;
    font-size: 1.5rem;
    margin-top: 0;
}


.artes {

    border-radius: 10px;
    width: 100%;
    height: 100%;
    text-align: center;
    font-family: 'galter';
    letter-spacing: 2px;
    color: #B6A7B5;
    margin-bottom: 0;
    padding: 10px;
    border-radius: 10px;
    transition: all 0.5s ease;

}



.artes h1 {
    font-size: 3.5rem;
    margin-bottom: 40px;
    font-family: 'galter';
    font-weight: 300;
    letter-spacing: 2px;
    margin-top: 0;
}

.art-imgs {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 10px;
    width: 70%;
    height: 40%;
    margin-right: 15%;
    flex-wrap: wrap;


}

/* Seu SVG ou os elementos internos dele */

.artes-slider {
    background: linear-gradient(145deg, #57005f, #2c012f);
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    transition: transform 0.4s ease, box-shadow 0.4s ease;
    width: 230px;
    height: 350px;

    display: flex;
    justify-content: center;
    align-items: center;
}


.artes-slider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
    border-radius: 20px;


}


.artes-slider:hover {
    transform: translateY(-8px) scale(1.01);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.45);
}


.artes-slider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.testemunhas-section {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.conteudo-testemunhas {
  position: relative;
  z-index: 2;
}




.testemunhas {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 2%;
    margin-top: 2%;
    text-align: center;
    font-family: 'galter';
    letter-spacing: 2px;
    color: #B6A7B5;
    padding: 5px;
}

.animated-background{
    position: absolute;
    z-index: -1;
    right: 20%;

}


.conteudo-testemunhas{

        display: flex;


    text-align: left;
    justify-content: center;
    align-items: center;

}

.card{
    background-color: #15001763;
    border: 4px solid #7c0185;
    border-radius: 10px;
    width: 50%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease;
    margin-top: 0;
    margin-right: 3%;

}


.card:hover {
    border-color: #c400d8;
    border-color: #c400d8;
    box-shadow: 0 0 25px #7c0185bb, inset 0 0 20px #7c018566;
}


.conteudo-img{
    margin-top: 0;
    animation: float 6s ease-in-out infinite;
}


@keyframes float {
	0% {

		transform: translatey(0px);
	}
	50% {

		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}


.svg-fullscreen {
  width: 100vw;
  height: 100vh;
  position: relative;
  margin: 0;
  margin-top: 0;
  overflow: hidden;
}



