@font-face {
    font-family: 'galter';
    src: url('../../public/fonts/Galter.ttf')
}

.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: #410445;;
}

nav {
  position: fixed;
  top: 10px;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 1000;
  padding: 5px;
  height: 48px;
  background-color: rgba(0, 0, 0, 0.253);

  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  backdrop-filter: blur(10px);
  box-sizing: border-box;
}

nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 2px;
    gap: 30px;
}

nav a {
    position: relative;
    text-decoration: none;
    color: #B6A7B5;
    font-family: 'galter';
    letter-spacing: 2px;
    font-size: 16px;
    transition: color 0.3s ease;
}
a

nav a::after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 50%;
    transform: translateX(-50%);
    width: 0%;
    height: 2px;
    background: linear-gradient(90deg, #b78be0, #f7c8ff);
    border-radius: 2px;
    transition: width 0.4s ease;
}


nav a:hover {
    color: #ffffff;
    text-shadow: 0 0 6px #b78be0;
}

nav a:hover::after {
    width: 100%;
}




.hero {
    position: relative;
    font-family: 'galter';
    width: 100vw;
    height: 100vh;
    background: #000000;
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(65, 4, 69, 1) 56%);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #B6A7B5;
    /* #FFD700 amarelo ouro */
}

.herotxt {
    margin-bottom: 10%;

}

.herotxt h1 {
    font-size: 8rem;
    letter-spacing: 2px;
    font-weight: 300;
    text-shadow: -1px 0px 5px #000000;
    margin-bottom: 0;
}

.herotxt p {
    text-align: center;
    font-size: 1.5rem;
    letter-spacing: 2px;
    font-weight: 300;
    text-shadow: -1px 0px 5px #000000;
    margin-top: 0;
}


.shiny-text {

    background: linear-gradient(120deg,
            rgba(255, 255, 255, 0) 40%,
            rgba(68, 4, 77, 0.8) 50%,
            rgba(255, 255, 255, 0) 60%);
    background-size: 200% 100%;
    -webkit-background-clip: text;
    background-clip: text;
    display: inline-block;
    animation: shine 5s linear infinite;
}

@keyframes shine {
    0% {
        background-position: 100%;
    }

    100% {
        background-position: -100%;
    }
}

.shiny-text.disabled {
    animation: none;
}


.card-services{
    width: 100%;
    height: 60%;
    display: flex ;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: #b6a7b5;
    border: 4px solid #b78be0;
}


.saiba-mais {
    position: absolute;
    bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #b6a7b5;
    font-family: 'galter';
    letter-spacing: 2px;
    cursor: pointer;
    transition: color 0.3s ease;
}

.saiba-mais p {
    margin: 0;
}

.saiba-mais:hover {
    color: #ffffff;
}

.setas svg {
    stroke: #b6a7b5;

}

.saiba-mais:hover .setas svg {
    stroke: #ffffff;
}



.about {
    background: #57005f;
    width: 80%;
    height: 60%;
    margin: 2%;
    margin-top: 5px;
    text-align: center;
    font-family: 'galter';
    letter-spacing: 2px;

    color: #B6A7B5;
    box-shadow: -5px 5px 2px #2c012f;
    padding: 5px;
    border-radius: 10px;

}

.about-content{
    display: flex;
    gap: 10%;
    margin: 5%;
    text-align: center;
}

.about h1 {
    font-size: 3em;
    font-weight: 300;
}


.about-img{
    width: 465px;
    border-radius: 10px;
    box-shadow: -2px 2px 5px #2c012f;
}

.about-content p{
    margin-top: 10%;
    font-size: 1.3rem;
}


.divider{
    width: 100%;
    height: 10%;
    margin: 0;
}

.valorizamos{
    background: #410445;
    width: 100%;
    height: 100%;
    text-align: center;
    font-family: 'galter';
    letter-spacing: 2px;
    color: #B6A7B5;
    margin-bottom: 0;
}

.conteudo{
    display: flex;
    gap: 15%;
    margin: 5%;
    text-align: left;
    justify-content: center;
    align-items: center;

}



.valorizamos h1{
    font-weight: 300;
    font-size: 3.5rem;
    margin-bottom: 0;
}


.conteudo .anm-img{
    max-width: 265px;
    margin-right: 10%;
    margin-top: 0;
    opacity: 0;

}


.conteudo p{
    margin-top: 10%;
    font-size: 1.5rem;
    margin-top: 0;
}


.artes {
    background: #410445;
    width: 100%;
    height: 100%;
    text-align: center;
    font-family: 'galter';
    letter-spacing: 2px;
    color: #B6A7B5;
    margin-bottom: 0;
}

.artes h1 {
  font-size: 3.5rem;
  margin-bottom: 40px;
  font-family: 'galter';
  font-weight:300;
  letter-spacing: 2px;
  margin-top: 0;
}

.art-imgs {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 60px;
  flex-wrap: wrap; 
}

.artes-slider {
  background: linear-gradient(145deg, #57005f, #2c012f);
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
  transition: transform 0.4s ease, box-shadow 0.4s ease;
  width: 230px;
  height: 350px;
    
  display: flex;             
  justify-content: center;    
  align-items: center;       
}


.artes-slider img {
  width: 100%;
  height: 100%;
  object-fit: cover;          
  object-position: center;   
  display: block;
  border-radius: 20px;     
   
}


.artes-slider:hover {
  transform: translateY(-8px) scale(1.01);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.45);
}


.artes-slider img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}



#sld2.artes-slider {
    margin-top: 20%;
}


.testemunhas{
    background: #410445;
    width: 100%;
    height: 100%;
    text-align: center;
    font-family: 'galter';
    letter-spacing: 2px;
    color: #B6A7B5;
    margin-bottom: 0;
}



@media (max-width: 600px) {




    .herotxt h1 {
        text-align: center;
        font-size: 5rem;
        letter-spacing: 2px;
        font-weight: 300;
        text-shadow: -1px 0px 5px #000000;
        margin-bottom: 0;
    }

    .herotxt p {
        text-align: center;
        font-size: 1rem;
        letter-spacing: 2px;
        font-weight: 300;
        text-shadow: -1px 0px 5px #000000;
        margin-top: 0;
    }


     .artes h1 {
    font-size: 2rem;
  }

  .artes-slider {
    width: 90%;
    height: 300px;
  }

  .art-imgs {
    gap: 20px;
  }


}