.gallery-section {
  padding: 5rem 2rem;
  background: linear-gradient(to bottom,  #15011d,#0a000c);
  color: white;
  text-align: center;
}

.gallery-title {
  font-size: 2.5rem;
  color: #f5aaff;
  margin-bottom: 3rem;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.gallery-item {
  position: relative;
  overflow: hidden;
  border-radius: 18px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.08);
  transition: transform 0.4s ease;
}

.gallery-item:hover {
  transform: scale(1.05);
}

.gallery-item img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 18px;
}
