@font-face {
    font-family: 'galter';
    src: url('../public/fonts/Galter.ttf')
}


html, body {
  font-family: 'galter';
   height: auto;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;

      display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: #410445;
}