.rotating-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 40px 16px;
}

.rotating-card {
  width: 100%;
  max-width: 380px;
  height: 260px;
  background-color: #15001763;
  border-radius: 26px;
  padding: 26px;
  position: relative;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  transition: 0.4s;
}


.card-avatar {
  width: 60px;
  height: 60px;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 50%;
  position: absolute;
  top: 22px;
  left: 22px;
}

/* Texto pequeno topo */
.card-tag {
  position: absolute;
  top: 36px;
  left: 100px;
  font-size: 1.1rem;
  opacity: 0.85;
}

/* Título grande */
.card-title {
  font-size: 2.6rem;
  margin-top: 80px;
  margin-bottom: 12px;
}

/* Subtítulo */
.card-subtitle {
  font-size: 1.2rem;
  opacity: 0.85;
}

/* Paginação */
.card-dots {
  position: absolute;
  bottom: 26px;
  width: 100%;
  left: 0;
  display: flex;
  justify-content: center;
  gap: 14px;
}

.dot {
  width: 14px;
  height: 14px;
  background: rgba(255, 255, 255, 0.25);
  border-radius: 50%;
  transition: 0.3s;
}

.dot.active {
  background: #fff;
  transform: scale(1.2);
}

.rotating-card {
  transition: opacity 0.35s ease, transform 0.35s ease;
}

.rotating-card.show {
  opacity: 1;
  transform: translateY(0);
}

.rotating-card.hide {
  opacity: 0;
  transform: translateY(12px);
}


/* 📱 Responsivo */
@media (max-width: 480px) {
  .rotating-card {
    height: 440px;
  }

  .card-title {
    font-size: 2.1rem;
  }

  .card-subtitle {
    font-size: 1.05rem;
  }
}
